@use 'variables' as v;

h1,h2,h3{
    font-family: v.$fuente-principal;
    margin: 0 0 v.$separacion 0;
    text-align: center;
    line-height: 1.5;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.6rem;
    color:v.$primario;
}

.heading-blanco{ //heredamos de h2 papa modificar colores en el menu
    @extend h2;
    color:v.$blanco; 
    span{
        color:v.$blanco;
    }
    &::after{
        display: none;
    }
}
h3{
    font-size: 2.2rem;
}
