@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-auth{
    box-shadow: 0px 6px 20px rgb(0 0 0 /20%);
    .logo-mobile{
        //margin:0 auto;
        img{
        height:7rem;  
        }
    }
    @include m.tablet{
        height:8.5rem;
    }
}

