@use 'base/variables' as v;
@use 'base/mixins' as m;


.barra-mobile{
    height:7rem;
    padding: 0 5rem;
    background-color: v.$blanco;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include m.tablet{
        display:none;
    }
    .menu{
        img{
            width:.7rem;
        }
        &:hover{
            cursor:pointer;
        }
    }
}
.barra{
    display:none;
    @include m.tablet{
        padding: 0 5rem;
        background-color: v.$blanco;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @include m.desktop{
        padding: 0 10rem;
    }
}
.logo{
    max-width:50%;
   // margin: 0 auto;

    @include m.tablet{
        width: 25rem;
        margin:0;
    }
}
.barra.mostrar{
    .logo{
        display:none;
    }
    display:flex;
    justify-content: center;
    a{
        font-size: 2rem;
        padding:.5rem;
    } 
}