@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-color: v.$blanco;
    height: 67rem;
    @include m.tablet{
        height: 68.5rem;
    }
    .contenido-header{
        position: relative;
        background-image: url('/build/img/header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin:0;
        height: 60rem;
    
        &::before{
            content:"";
            background-color: v.$negro;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            opacity:.4;
        }
        &.ocultar{
            display:none;
        }
        .texto-header{
            position: absolute;
            max-width: 50rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            h1{
                text-align: center;
                color:v.$blanco;
                margin-top: 25rem;
                margin-bottom: 2rem;
                font-size:2.5rem;
                @include m.tablet{
                    font-size:3rem;
                    margin-top: 20rem;
                    
                }
            }
            a{
                display:grid;
                margin:auto;
                width:20rem;
            }

            &.ocultar{
                h1{
                    display:none;
                }
                a{
                    display:none;
                }
            } 
        }
    }      
}
